<h5 class="text-info mt-5">Все объявления с тегом  	&laquo; <%= @tag.name  %>   &raquo;  </h1> 

<% if @tag.boards.empty? %>
<h2> Объявление к тегу не найдено</h2>
<% else %>
	<%= render @tag.boards %>

<% end %>