<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Смотреть', @post, :class => 'btn btn-outline-success' %> |
<%= link_to 'Назад', posts_path, :class => 'btn btn-outline-danger' %>
